node_modules
dist-server
.env
client/node_modules
client/dist
data/
# logs
*.log

# database
*.sqlite
*.db

# vscode
.vscode

# OS
.DS_Store

# build cache
.cache

# server source compiled artifacts (tsc / vue-tsc)
server/**/*.js
server/**/*.js.map
server/**/*.d.ts